.caja {
    border: black solid;
    border-radius: 25px;
    background-color: rgba(82, 82, 82, 0.5);
    padding: 1%;
}

body {
    background-color: #04293A;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap-reverse;
}




.boton {
    background-color: blue;
    border-radius: 25px;
    border: 0px;
    height: 30px;
    border-color: black;
}

/* wheater */
.wheater {
    display: flex;
    flex-direction: column;
    width: 97%;
    align-self: flex-end;
}

.hoy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.hoy .datos {
    width: 25%;
    border-bottom: black solid;
}

.hoy .imagen {
    width: 65%;
    border-bottom: black solid;
}

.grande {
    font-size: 70px;
    width: 50%
}

.datos {
    padding-right: 5%;
    border-right: black solid;
}

.imagen {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.imagen img {
    width: 25%;
}

.lista {
    display: flex;
    overflow: auto;
    gap: 2%;
}







/* hora */
#horaWidget {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#horaWidget h3 {
    font-size: 40px;
    margin-bottom: 0px;
}

#horaWidget p {
    font-size: 20px;
}

/* contraseña */
.contra {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 20px;
}

/* enlaces */

#listaDeEnlaces {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 300px;;
    padding: 20px;
    overflow: scroll;
    list-style: none;

}

a {
    text-decoration: none;
    color: #000;
}
#listaDeEnlaces li{
    height: 55.5px;
}
li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    border-radius: 15px;
    background-color: beige;

}

li button {
    position: relative;
    top: -50px;
    left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    background-color: beige;
    

}

.enlace {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.enlace input {
    width: inherit;
    font-size: 17px;
}

#lista {
    width: inherit;
}

#introducion {
    font-size: 30px;
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#contenedor>div {
    width: 48%;
    
}