header {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;

}
body{
    color: white;
}
header a {
    display: flex;
    text-decoration: none;
    color: white;
}

header a img {
    width: 10%;
}
.caja {
    border: black solid;
    border-radius: 25px;
    background-color: rgba(82, 82, 82, 0.5);
    padding: 1%;
    align-items: center;

}

body {
    background-color: #04293A;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 130px;
}




.boton {
    background-color: blue;
    border-radius: 25px;
    border: 0px;
    height: 30px;
    border-color: black;
}




/* footer */
.footer {

    position: absolute;
    bottom: 4%;
    right: 0;
    width: 50%;
    border-bottom: black solid 2px;
}

nav a {
    padding: 2%;
}